<h1>Request Password Reset</h1>

<p>
  Enter your email address we'll send you a link to reset your password.
</p>

<%= form_for @user, as: :user, url: password_reset_path do |form| %>
  <%= form.text_field :email %>
  <%= form.submit 'Reset Password' %>
<% end %>
