<!DOCTYPE html>
<html>
  <head>
    <title>Dummy - Application</title>
    <%= render "head" %>
  </head>

  <body>
    <div>
      <%= yield %>
    </div>

    <%= render "footer" %>
  </body>
</html>
