<!DOCTYPE html>
<html>
  <head>
    <title>Dummy - Application</title>
    <%= render "head" %>
  </head>

  <body>
    <%= render "session_and_flash" %>

    <%= yield %>

    <%= render "login_logout" %>
  </body>
</html>
