<!DOCTYPE html>
<html>
  <head>
    <title>Dummy - Application</title>
    <%= render "head" %>
  </head>

  <body>
    <%= yield %>
    <%= render "sign_in_out" %>
    <%= render "footer" %>
  </body>
</html>
