<h1>Email Verification</h1>

<% if current_user.email_verified? %>
  <h2>Your email address has been verified</h2>
<% else %>
  <h2>Email address verification failed</h2>
<% end %>
<h2><%= current_user.email %></h2>

<%= link_to("Go to Dashboard", dashboard_path) %>
