<h3>Flash</h3>
<%= render "hash", hash: flash %>

<h3>Cache</h3>
<%= render "hash", hash: Rails.cache.instance_variable_get(:@data) || {} %>

<h3>Session</h3>
<%= render "hash", hash: session %>

<h3>Mailer Previews</h3>
<p>
  <%= link_to("Action Mailer Previews", "/rails/mailers") %>
</p>
